.header {
    background-color: #3c9fc3;
    color: white;
}

.img-fluid {
    max-height: 250px;
    width: auto;
}

.button-click {
    background-color: darkblue;
    color: white;
}

.bi {
    font-size: 1.5vmax;
    color: white;
}

h1.header {
    font-size: 4vmax;
}

h2.header {
    font-size: 2vw;
}

.form-group {
    margin-bottom: 10px;
}

.form-input {
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    
}

.picker {
    color: black;
    border: 2px solid black;
    background-color: white;
    font-size: 1vmax;
    
}

.dropdown-list {
    color: black;
    border: 2px solid black;
    background-color: white;
    font-size: 1vmax;
}

.attachment {
    color: black;
    border: 2px solid black;
    background-color: white;
    font-size: 1vmax;
}

/* hook footer to bottom of page */
main {
  flex: 1; 
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}